version: '3.8'

services:
  postgres-db:
    image: postgres:15-alpine
    container_name: postgres-db
    networks:
      - task-system-network
    env_file:
      - .env.live
    environment:
      POSTGRES_USER: ${DATABASE_USER}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_NAME}
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DATABASE_USER} -d ${DATABASE_NAME}"]
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 10s

  redis-db:
    image: redis:alpine
    container_name: redis-db
    networks:
      - task-system-network
    volumes:
      - redis-data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  api:
    build: .
    container_name: nestjs-api
    networks:
      - task-system-network
    expose:
      - "3000"
    env_file:
      - .env.live
    environment:
      DATABASE_HOST: postgres-db
      REDIS_HOST: redis-db
      DATABASE_PORT: 5432
      REDIS_PORT: 6379
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000/health"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 60s
    depends_on:
      postgres-db:
        condition: service_healthy 
      redis-db:
        condition: service_healthy

    command: sh -c "./node_modules/.bin/typeorm migration:run -d dist/data-source.js && node dist/main"
  nginx-gateway:
    image: nginx:alpine
    container_name: nginx-gateway
    ports:
      - "80:80" 
    networks:
      - task-system-network
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      api:
        condition: service_healthy

networks:
  task-system-network:
    driver: bridge

volumes:
  pgdata:
  redis-data: